<h2 id="title">Ember-Example</h2>

{{#link-to 'index'}}Home{{/link-to}}
{{link-to 'Contacts' 'contacts'}}
{{#if session.isAuthenticated}}
	<button {{ action 'invalidateSession' }}>Logout</button>
{{else}}
	{{#link-to 'login'}}Login{{/link-to}}
{{/if}}
<hr>
{{outlet}}